<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:name=".CopyCleanLinkApplication"
      android:allowBackup="true"
      android:enableOnBackInvokedCallback="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/label_application"
      android:supportsRtl="true"
      tools:targetApi="33">
    <activity
        android:name=".LauncherActivity"
        android:exported="true"
        android:theme="@style/CopyCleanLinkTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".CopyCleanLinkReceiverActivity"
        android:excludeFromRecents="true"
        android:exported="true"
        android:theme="@android:style/Theme.NoDisplay">
      <intent-filter android:label="@string/label_process_text">
        <action android:name="android.intent.action.PROCESS_TEXT" />
        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="text/plain" />
        <data android:mimeType="text/html" />
      </intent-filter>
      <!-- We need this VIEW action to get the PROCESS_TEXT action to work.
      https://issuetracker.google.com/issues/340098899 -->
      <intent-filter tools:ignore="AppLinkUrlError">
        <action android:name="android.intent.action.VIEW" />

        <data android:scheme="http" />
        <data android:scheme="https" />
        <data android:scheme="ws" />
        <data android:scheme="wss" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
  </application>
</manifest>
